# Project exclude paths
/out/
/web/WEB-INF/settings.properties
/web/META-INF/context.xml
/evolve.iml
/.idea/
/web/WEB-INF/_lucene/
/web/files/
/web/WEB-INF/ec_xml/model_custom.xml
/web/WEB-INF/ec_xml/ecommander/