.mainwrap .common h1{font-size: 30px; margin-top: 26px;}
.mainwrap .common{padding: 0 29px;}
.form-1 > div{
	display: inline-block;
	margin-right: 25px;
	vertical-align: top;
	padding-top: 10px;
}
.form-1 > div .title{
	font-weight: bold;
	display: block;
	height: 21px;
}
.form-1 select, .form-1 input[type='text']{border: 1px solid #707070; padding: 3px 2px;}
/* Combobox style */
.combobox{
	position: relative;
}
.combobox input[type='text']{
	position: absolute;
	width: 12px;
	border: 0;
	margin-top: 2px;
	margin-left: 2px;
	display: block;
}
.datepicker{
	border: 1px solid #707070;
    padding: 3px 2px;
    width: 75px;
    text-align: center;
    display: block;
   
}
.combobox select{
	width: 103px;
	border-right: 0;
}
/**/
.form-1 .combobox{
	display: inline-block;
	margin-right: 20px;
}
.form-1 a.submit{
	display: block;
	text-align: center;
	width: 90px;
	padding: 5px 0;
	border-radius: 5px;
	text-decoration: none;
	background: linear-gradient(to bottom, rgba(18,121,18,1) 0%, rgba(1,96,33,1) 100%);
	color: #fff;
}
.variants {display: inline-block; margin-top: 49px; width: 562px;}
.variants img{height: 50px;}
.variants .fancybox{text-decoration: none; display: inline-block; margin-right: 4px;}
h2{font-size: 25px; font-weight: normal;}
.variants .variant{
	padding: 20px; background: #fff; margin-top: 10px;
	-webkit-box-shadow: 1px 5px 13px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 5px 13px -2px rgba(0,0,0,0.75);
	box-shadow: 1px 5px 13px -2px rgba(0,0,0,0.75);
	margin-bottom: 14px;
}
.mainwrap .common .variant h3{margin-bottom: 2px;}
.variant .room-pics{margin-bottom: 29px;}
.variant .free{margin-bottom: 31px;}
.variant .free:last-of-type{margin-bottom: 10px;}
.variant .free a {
	display: block;
	float: right;
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(84,118,130,1) 64%, rgba(84,118,130,1) 100%);
	text-decoration: none;
	color: #fff;
	margin-right: 6px;
	padding: 6px 16px;
	margin-top: -6px;
	border-radius: 5px;
}
.variant .free a.added {
	background: linear-gradient(to bottom, rgba(162,222,153,1) 0%, rgba(109,128,83,1) 64%, rgba(103,128,83,1) 100%);
}
.blue-button{
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(84,118,130,1) 64%, rgba(84,118,130,1) 100%);
	text-decoration: none;
	color: #fff;
	margin-right: 6px;
	padding: 6px 16px;
	margin-top: -6px;
	border-radius: 5px;
}
.form-2{
	display: inline-block;
	vertical-align: top;
	margin-top: 82px;
	margin-left: 35px;
	width: 320px;
	
}
.form-2 .room{
	margin-top: 20px;
	position: relative;
	padding-right: 100px;
	margin-bottom: 38px;
}
.form-2 .room a{
	position: absolute;
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(84,118,130,1) 64%, rgba(84,118,130,1) 100%);
	text-decoration: none;
	color: #fff;
	margin-right: 6px;
	padding: 6px 16px;
	border-radius: 5px;
	right: 0;
	display: block;
	top: 0;
	font-size: 12px;
}
.form-2 .room > span{
	font-weight: bold;
	font-size: 14px;
}
.form-2 > div{margin-bottom: 20px;}
.form-2 > div p{font-weight: bold; margin-bottom: 8px;}
.form-2 .gray, .form-2 label{color: #707070; font-size: 12px;}
.form-2 select{
	color: #000;
	font-size: 14px;
	display: block;
	margin-top: 4px;
	max-width: 100%;
	border: 1px solid silver;
	border-right: 0;
}
.form-2 label, .form-2 .price{display: inline-block; vertical-align: top;}
.form-2 label{ width: 100px; margin-right: 10px;}
.form-2 .clear{height: 10px;}
.form-2 .price{vertical-align: baseline; color: gray; margin-top: 21px;}
.error{color: red;}
.form-2 .submit{
	background: linear-gradient(to bottom, rgba(18,121,18,1) 0%, rgba(1,96,33,1) 100%);
	font-size: 22px;
	color: #fff;
	display: block;
	width: 200px;
	padding: 20px 0;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
div.selected{margin-top: 5px;}
.summ{margin-top: -12px;}
.summ span{font-size: 18px;  display: block; color: gray;}
.summ span b{color: #000;}
.personal-forms{
	margin-top:72px;
}
.mainwrap .common .form-wrap h3{font-size: 18px; font-weight: normal; margin-top: 13px; margin-bottom: 24px;}
.form-wrap{
	display: inline-block;
	width: 272px;
	vertical-align: top;
	margin-right: 45px;
}
.form-wrap:last-of-type{
	margin-right: 0;
}
.form-wrap .sep{
	padding: 13px 0;
	margin-bottom: 19px;
}
.form-wrap .sep:before{
	display: block;
	content: ' ';
	height: 0px;
	overflow: hidden;
	width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #363636;
}
.form-wrap label{
	display: block;
	margin-bottom: 19px;
}
.form-wrap label input[type='text']{
	display: block;
	border: 1px solid #ccc;
	width: 254px;
	margin-top: 3px;
	padding: 4px 6px;
	
}
.form-wrap label select{
	display: block;
	border: 1px solid #ccc;
	width: 270px;
	margin-top: 3px;
	padding: 4px 6px;
	border-right: 0;
}
.birth-date{
	margin-bottom: 19px;
	margin-top: -6px;	
}
.birth-date span{display: block; margin-bottom: 4px;}
.birth-date select{
	border: 1px solid #ccc;
	border-right: 0;
	padding: 4px 6px;
}
.submit-container{
	padding-top: 20px;
	border-top: 2px solid gray;
	overflow: auto;
	zoom:1;
}
.submit-container .submit{
	background: linear-gradient(to bottom, rgba(18,121,18,1) 0%, rgba(1,96,33,1) 100%);
	font-size: 22px;
	color: #fff;
	display: block;
	width: 200px;
	padding: 20px 0;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	float: right;
}