.button {
  min-height: 28px;
}
input[type="number"] {
  padding: 4px;
}
.compare-items__item .device {
	min-height: 410px;
}
.icon_size_lg {
  width: 34px;
  height: 34px;
}
.google-rating__stars img {
	height: 15px;
  margin-bottom: 5px;
}
.google-rating__text {
  font-size: 13px;
}
