.side-menu__header {
	margin: 28px 0 24px;
	margin-left: 22px;
}
.slider__content {
	padding: 22px 0 35px 50px;
}
.top-info {
	padding: 15px 0 0;
}
.header{
	padding: 15px 0 14px;
}
.pagination__item_active a{
	color:  #fff;
}
.pag-dd__container a{
	color: #333;
}
.fotorama__fullscreen-icon{
	background: transparent !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
}
.text ol li {
	list-style: inherit;
}
.text ol {
	margin-left: 16px;
}

/*THUMBS on product page*/
.thumbs{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: -2px;
}
.thumbs .thumb{
	height: 60px;
	width: 60px;
	display: inline-block;
	margin: 2px;
	border: 2px solid transparent;
}
.thumbs .thumb.active{
	border-color: #0000ee;
}