/*#minislider{margin-bottom: 129px;}
#minislider .controls a{padding-right: 2px;}
#nivo .nivo-controlNav{width: 100px; margin: 0 auto;}
#nivo .nivo-controlNav a.nivo-control{display: block; float: left;}
#nivo .white{height: 52px;}*/
.header .index{z-index: 100;}
.header .top .item{display: inline; zoom:1; line-height: 14px;}
.arrow-top{background-color: red;}
#mail{margin-bottom: 8px;}
.mainwrap .catalog .item , .footer .copyright,
.footer .search, .footer .inner .logo,
.mainwrap .small, .mainwrap .room_info, .mainwrap .news .train .item{display: inline; zoom:1;}
.mainwrap .submenu, .mainwrap div.right{float: left;}
.header .top a{font-size: 12px; line-height: 16px;}
.header .top .item .javascript, #map, #calendar {padding:0; border:0; text-decoration: underline;}