* {
	padding: 0;
	margin: 0;
	border: 0; }

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

:focus, :active {
	outline: none; }

a:focus, a:active {
	outline: none; }

nav, footer, header, aside, main, section, article {
	display: block; }

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

input, button, textarea {
	font-family: inherit; }

input::-ms-clear {
	display: none; }

button {
	cursor: pointer; }

button::-moz-focus-inner {
	padding: 0;
	border: 0; }

a, a:visited {
	text-decoration: none; }

a:hover {
	text-decoration: none; }

ul li {
	list-style: none; }

img {
	vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400; }

table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;
	margin-bottom: 24px; }

.title {
	font-weight: 700;
	margin: 0 0 8px; }

.title_1, h1 {
	font-weight: 700;
	font-size: 30px;
	margin: 0 0 24px; }

.title_2, h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 16px; }

.title_3, h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 8px; }

.text_size_sm {
	font-size: 11px;
	color: #9E9E9E; }

.text {
	color: #333; }
	.text ul {
		padding-left: 32px; }
	.text li {
		list-style: disc;
		margin-bottom: 16px;
		line-height: 1.2; }

input[type=number] {
	width: 50px; }

input[type=checkbox] {
	margin-right: 4px; }

.input, select {
	font-size: 12px;
	line-height: 1;
	border: 1px solid #e0e0e0;
	padding: 4px; }

.button {
	display: inline-block;
	white-space: nowrap;
	line-height: 1;
	padding: 8px 16px;
	background-color: #E6D0B0;
	color: #212121;
	border: 1px solid #E6D0B0; }
	.button_secondary {
		background-color: #212121;
		color: #212121;
		border: 1px solid #E6D0B0; }

.button_size_lg, .order_product button {
	font-size: 16px;
	padding: 10px 18px; }

.input_size_lg {
	font-size: 16px; }

.button_checkout {
	color: #fff;
	background-color: #31869B;
	border-color: #31869B; }

.button:hover {
	background-color: #dab989;
	border-color: #dab989; }

.button_2 {
	color: #fff;
	background-color: #31869B;
	border: 1px solid #31869B; }

.button_2:hover {
	background-color: #2d7c8f;
	border-color: #2d7c8f; }

.button_checkout:hover {
	background-color: #256574;
	border-color: #256574; }

.button_request {
	background-color: #fff; }

.form__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px; }
	.form__item:last-child {
		margin-bottom: 0; }

.form__element {
	font-size: 12px;
	line-height: 1;
	border: 1px solid #9E9E9E;
	padding: 4px 8px; }

.form-label {
	font-size: 13px;
	margin-bottom: 4px;
	font-weight: 700; }

.form__text {
	margin-bottom: 24px; }

textarea {
	min-height: 100px; }

body {
	font-family: "Arial", sans-serif;
	font-size: 16px; }

a {
	color: #0072bc; }

table {
	font-size: 13px;
	color: #616161;
	letter-spacing: 0.3px;
	line-height: 1.3; }
	table tr {
		border-bottom: 1px solid #e0e0e0; }
		table tr:hover {
			border-color: #9E9E9E; }
	table td, table th {
		padding: 8px 4px;
		vertical-align: top; }
		table td:last-child, table th:last-child {
			font-weight: 700; }

.icon {
	display: flex;
	height: 16px;
	width: 24px;
	display: flex;
	margin-right: 4px; }
	.icon img {
		max-height: 100%;
		margin: auto; }

.icon_size_sm {
	width: 16px;
	height: 16px; }

.icon_size_lg {
	width: 32px;
	height: 32px; }

.icon-link {
	display: inline-flex;
	align-items: center;
	font-size: 14px; }

.icon-link_after .icon {
	margin: 0 0 0 4px; }

.ptb {
	padding-top: 48px;
	padding-bottom: 48px; }

.pt {
	padding-top: 48px; }

.pb {
	padding-bottom: 48px; }

.divider {
	height: 4px;
	width: 100px;
	background-color: #E6D0B0;
	margin: 2rem auto; }

.img {
	position: relative; }
	.img:before {
		content: "";
		display: block;
		padding-top: 100%; }
	.img img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover; }

.card {
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #fff; }

.device-carousel-colors .card {
	padding: 0;
	border: none;
	text-align: left;
	width: 100%; }
	.device-carousel-colors .card .device__image {
		margin: 0;
		margin-bottom: 8px; }

.device-carousel .device{
	margin:  2px 5px;
}

.tag {
	padding: 4px 8px;
	font-size: 12px;
	color: #fff;
	background-color: red; }

.container {
	margin: 0 auto; }
	@media (min-width: 1280px) {
		.container {
			width: 1170px; } }
	@media (max-width: 1279px) {
		.container {
			width: 100%;
			padding: 0 16px; } }

img {
	max-width: 100%;
	max-height: 100%; }

.text p {
	line-height: 1.3;
	color: #333; }

.content {
	padding: 32px 0; }
	@media (max-width: 425px) {
		.content {
			padding-top: 0; } }

.content__wrap {
	display: flex; }
	@media (max-width: 768px) {
		.content__wrap {
			flex-direction: column; } }

.content__side {
	flex: 0 0 310px;
	padding-right: 32px; }
	@media (max-width: 768px) {
		.content__side {
			padding-right: 0;
			order: 1;
			margin-top: 24px; } }
	.content__side > * {
		margin-bottom: 32px; }
		.content__side > *:last-child {
			margin-bottom: 0; }

.content__main {
	flex: 1 1 auto;
	overflow: hidden; }

.side-info {
	font-size: 14px; }
	.side-info p {
		margin-bottom: 8px; }
		.side-info p:last-child {
			margin-bottom: 0; }
	.side-info .title {
		font-size: 20px; }

.side-button button {
	font-size: 15px; }

.side-links__link {
	display: block;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 1.2; }
	.side-links__link:last-child {
		margin-bottom: 0; }

.text {
	margin-bottom: 24px; 
	overflow: auto;
}
	.text > * {
		margin-bottom: 16px; }

.date {
	font-size: 13px;
	color: #616161; }

.date_title {
	position: relative;
	top: -16px; }

.compare-items {
	max-width: 100%;
	overflow: hidden;
	overflow-x: auto;
	display: flex;
	padding-bottom: 16px; }

.compare-items__item {
	flex: 0 0 25%;
	padding-right: 2%;
	overflow: hidden; }

.compare-items__params {
	margin-top: 16px; }
	.compare-items__params li {
		font-size: 13px;
		display: flex;
		flex-direction: column;
		margin-bottom: 8px; }
		.compare-items__params li:last-child {
			margin-bottom: 0; }
		.compare-items__params li span:first-child {
			color: #9E9E9E; }

.orders__item {
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-gap: 16px;
	margin-bottom: 16px;
	padding-bottom: 16px;
	font-size: 14px;
	border-bottom: 1px solid #e0e0e0; }
	.orders__item:last-child {
		margin-bottom: 0;
		border: none; }
	@media (max-width: 320px) {
		.orders__item {
			grid-template-rows: auto auto;
			grid-template-columns: 1fr auto; } }

.orders__item {
	overflow: hidden; }

.orders__item_active {
	padding: 16px;
	border: 2px solid #E6D0B0 !important; }

.past-order__title {
	font-weight: 700;
	margin-bottom: 4px; }

.past-order__date {
	font-size: 12px;
	color: #9E9E9E; }

.past-order__price {
	width: 120px; }

.past-order__sum {
	margin-bottom: 4px; }

.past-order__qty {
	font-size: 12px;
	color: #9E9E9E; }

@media (max-width: 320px) {
	.past-order__action {
		grid-area: 2/1/-1/-1; } }

.past-order__product {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 100px 1fr auto;
	grid-gap: 16px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 16px; }
	.past-order__product:last-child {
		border: none; }
	@media (max-width: 425px) {
		.past-order__product {
			grid-template: auto auto /60px 1fr; } }

.past-product__info {
	display: flex;
	flex-direction: column; }
	.past-product__info > * {
		margin-bottom: 8px; }

.past-product__artnumber {
	font-size: 12px;
	color: #9E9E9E; }

.past-product__old-price {
	font-size: 12px;
	color: #616161; }

.past-product__action {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 8px;
	grid-row-gap: 16px;
	align-content: start; }
	@media (max-width: 425px) {
		.past-product__action {
			grid-column: 1/-1;
			display: flex;
			width: 100%; } }

.past-product__price {
	grid-column: 1/-1;
	white-space: nowrap; }
	@media (max-width: 425px) {
		.past-product__price {
			flex: 1 1 auto;
			align-self: center;
			font-weight: 700; } }

.info-items_section {
	margin-bottom: 24px; }

.info-items__wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px; }
	@media (max-width: 425px) {
		.info-items__wrap {
			grid-template-columns: repeat(2, 1fr); } }
	@media (max-width: 375px) {
		.info-items__wrap {
			grid-template-columns: repeat(1, 1fr); } }

.info-item {
	position: relative;
	overflow: hidden; }

.info-item__image {
	margin: -16px -16px 16px; }
	.info-item__image.img:before {
		padding-top: 60%; }

.info-item__info {
	display: flex;
	flex-direction: column; }
	.info-item__info > * {
		margin-bottom: 8px; }
		.info-item__info > *:last-child {
			margin-bottom: 0; }

.info-item__date {
	font-size: 12px;
	color: #9E9E9E; }

.info-item__text {
	font-size: 13px;
	color: #616161;
	line-height: 1.3; }

.info-item__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

.section-text {
	margin-bottom: 16px;
	line-height: 1.3; }

.alert {
	font-size: 14px;
	border-radius: 4px;
	padding: 8px 16px;
	margin-bottom: 24px;
	display: flex; }

.alert_danger {
	background-color: #fff1c8;
	color: #8e7425; }

.alert_success {
	background-color: #DCEDC8;
	color: #486a20; }

.alert__title {
	margin-right: 8px; }

.top-info {
	font-size: 14px;
	padding: 7px 0;
	background-color: #f5f5f5; }
	@media (max-width: 1024px) {
		.top-info {
			font-size: 12px; overflow: auto;} }
	@media (max-width: 768px) {
		.top-info {
			display: none; } }

.top-info__wrap {
	display: flex; }

.top-info__location {
	margin-right: 36px; }
	.top-info__location a {
		color: red;
		font-size: 16px; }
		.top-info__location a span {
			margin-right: -5px; }

.top-info__content {
	display: flex;
	flex: 1 1 auto; }
	.top-info__content > * {
		margin-right: 40px; }
		.top-info__content > *:last-child {
			margin-right: 0;
			margin-left: auto; }
	.top-info__content p {
		font-size: 14.2px;
		white-space: nowrap; }
	.top-info__content p:first-child {
		font-size: 14.5px; }

.header {
	padding: 22px 0 18px; }

.header__wrap {
	display: flex; }
	@media (max-width: 768px) {
		.header__wrap {
			flex-wrap: wrap;
			justify-content: space-between; } }

.header__column {
	margin: 0 16px; }
	.header__column:last-child {
		margin-right: 0; }
	@media (max-width: 768px) {
		.header__column {
			margin-right: 0; } }

.logo {
	height: 70px;
	margin-right: 70px; }
	@media (max-width: 768px) {
		.logo {
			height: 32px; } }

.logo__image {
	max-height: 100%; }

.header-search {
	flex: 1 1 auto;
	align-self: flex-start;
	margin: 0px;
	padding-top: 8px; }
	@media (max-width: 768px) {
		.header-search {
			order: 1;
			flex-basis: 100%;
			margin-top: 16px; } }
	.header-search form {
		display: flex; position: relative;}

.header-search__input {
	flex: 1 1 auto;
	margin-right: 8px;
	padding: 10px;
	border-color: #E6D0B0;
	font-size: 15px; }

.header-search__button {
	padding: 8px 22px;
	font-size: 14px; }

.header__column_links {
	display: flex;
	font-size: 14px; }
	.header__column_links > div:last-child {
		margin-right: 0; }
	@media (max-width: 768px) {
		.header__column_links > div {
			margin-right: 0; } }
	.header__column_links > div > * {
		margin-bottom: 6px; }
		.header__column_links > div > *:last-child {
			margin-bottom: 0; }
		@media (max-width: 768px) {
			.header__column_links > div > * {
				margin-bottom: 0; } }
	@media (max-width: 768px) {
		.header__column_links {
			align-items: center; } }
	@media (max-width: 768px) {
		.header__column_links .icon {
			height: 20px;
			margin-right: 0; } }
	@media (max-width: 768px) {
		.header__column_links .icon-link {
			margin-right: 20px; }
			.header__column_links .icon-link:last-child {
				margin-right: 0; } }
	.header__column_links .icon-link__item {
		font-size: 15px; }

.cart {
	margin-right: 26px; }
	@media (max-width: 768px) {
		.cart span {
			display: none; } }
	.cart .icon-link__item {
		font-weight: 700;
		font-size: 14px; }

.cart__item {
	margin-left: 28px; }
	@media (max-width: 768px) {
		.cart__item {
			display: none; } }

.user {
	display: flex;
	flex-direction: column; }
	@media (max-width: 768px) {
		.user {
			display: none; } }

.links {
	display: flex;
	align-items: flex-start; }
	@media (min-width: 769px) {
		.links {
			display: none; } }

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column; }
	.wrapper .footer {
		margin-top: auto; }

.footer {
	padding-top: 32px; }

.footer__wrap {
	border-top: 2px solid black;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 24px;
	padding: 24px 0; }
	@media (max-width: 768px) {
		.footer__wrap {
			grid-template-columns: repeat(3, 1fr); } }
	@media (max-width: 425px) {
		.footer__wrap {
			grid-template-columns: repeat(2, 1fr); } }
	@media (max-width: 375px) {
		.footer__wrap {
			grid-template-columns: 1fr; } }

.footer__column > * {
	margin-bottom: 16px; }
	.footer__column > *:last-child {
		margin: 0; }

.footer__title {
	font-size: 15px;
	font-weight: 700; }

.footer__text {
	font-size: 14px;
	line-height: 1.3;
	color: #616161; }
	.footer__text p {
		margin-bottom: 8px; }
		.footer__text p:last-child {
			margin: 0; }

.forever {
	display: flex;
	font-size: 12px;
	color: #616161;
	line-height: 1;
	align-items: center; }
	.forever img {
		margin-right: 4px; }

.google-rating__stars img {
	display: inline-block;
	height: 12px; }

.google-rating__text {
	font-size: 11px;
	color: #9E9E9E; }

.footer__list li {
	margin-bottom: 4px; }
	.footer__list li:last-child {
		margin: 0; }

.main-menu {
	border-top: 1px solid #9E9E9E;
	background-color: #E6D0B0; }
	@media (max-width: 768px) {
		.main-menu {
			display: none; } }

.index .main-menu {
	background-color: #fff; }

.main-menu__wrap {
	display: flex;
	align-items: center; }

.main-menu__item {
	height: 52px;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	position: relative; }
	.main-menu__item:hover {
		background-color: rgba(0, 0, 0, 0.05); }
	.main-menu__item > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000; }

.popup-catalog-menu, .popup-text-menu {
	position: absolute;
	background-color: #f5f1e5;
	z-index: 2;
	top: 50px;
	left: 0;
	display: flex;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); }
	.popup-catalog-menu a, .popup-text-menu a {
		padding: 8px;
		font-weight: 400;
		text-transform: none; }
		.popup-catalog-menu a:hover, .popup-text-menu a:hover {
			background-color: #fff; }

.sections {
	width: 200px;
	display: flex;
	flex-direction: column;
	padding: 8px 0; }

.subsections {
	display: flex;
	flex-direction: column;
	width: 250px;
	background-color: #fff;
	padding: 8px 0; }

.sections-block_wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px; }
	@media (max-width: 425px) {
		.sections-block_wrap {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px; } }
	@media (max-width: 320px) {
		.sections-block_wrap {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 16px; } }

.banner-sections {
	position: relative; }

.banner-sections__title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(134, 134, 134, 0.74);
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.2;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 16px; }

.banner-sections__link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer; }

.devices-block__wrap {
	margin: 0 -8px; }

.devices-block__column {
	padding: 0 8px;
	min-width: 0px;
	display: flex; 
	flex-direction: column;
}

.device {
	font-size: 13px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden; }
	.device > * {
		margin-bottom: 8px; }
		.device > *:last-child {
			margin-bottom: 0; }
	.device form {
		margin-top: auto; }

.device__image {
	margin-top: -16px;
	margin-right: -16px;
	margin-left: -16px; }

.device__tags {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	padding-right: 24px;
	align-items: flex-start;
	max-width: 100%; }

.device__tag {
	margin-bottom: 4px; }
	.device__tag:last-child {
		margin-bottom: 0; }

.device__name {
	display: block;
	line-height: 1.3; }

.device__price {
	display: flex;
	justify-content: center;
	font-weight: bold; }
	.device__price > div {
		font-size: 14px;
		margin-right: 8px; }
		.device__price > div:last-child {
			margin-right: 0; }

.price__item_old .price__value {
	color: #9E9E9E;
	position: relative; }
	.price__item_old .price__value:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #cc2020;
		top: 50%; }

.order {
	display: flex; }
	.order form {
		display: flex; }
		.order form > * {
			margin-right: 4px; }
			.order form > *:last-child {
				margin-right: 0; }

.device-order {
	margin-top: auto;
	justify-content: center; }

.add {
	display: flex;
	justify-content: center; }
	.add > * {
		margin-right: 4px; }
		.add > *:last-child {
			margin-right: 0; }

.add__item {
	align-items: center;
	font-size: 12px; }
	.add__item .icon {
		height: 12px;
		margin-right: 0; }

.device_row {
	flex-direction: row;
	text-align: left;
	border-bottom: 1px solid #9E9E9E; }
	.device_row:last-child {
		border: none; }
	.device_row > * {
		margin-bottom: 0; }
	.device_row .device__image {
		width: 150px;
		margin: 0; }
	.device_row .price {
		white-space: nowrap; }
	.device_row .order {
		justify-content: flex-end; }
	.device_row .add {
		flex-direction: column;
		justify-content: unset;
		padding-left: 50px; }
	.device_row .add__item {
		margin-bottom: 8px;
		margin-right: 0; }

.device__column {
	margin-right: 16px; }
	.device__column:last-child {
		margin-right: 0; }
	.device__column:nth-child(2) {
		flex: 1 1 auto; }
	.device__column > * {
		margin-bottom: 16px; }
		.device__column > *:last-child {
			margin-bottom: 0; }

.device__info .params tr {
	display: block;
	border: none; }

.device__info .params td {
	font-size: 12px;
	display: inline-block;
	padding: 2px;
	font-weight: 400; }
	.device__info .params td:first-child {
		color: #9E9E9E; }

.device {
	min-width: 0; }

.device-nav {
	padding-top: 8px; }
	.device-nav .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center; }
		.device-nav .slick-dots li {
			margin-right: 8px;
			font-size: 0; }
			.device-nav .slick-dots li button {
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-color: #9E9E9E; }
			.device-nav .slick-dots li:last-child {
				margin-right: 0; }
		.device-nav .slick-dots .slick-active button {
			background-color: #E6D0B0; }

.numbers-block__wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	justify-content: center; }
	@media (max-width: 425px) {
		.numbers-block__wrap {
			grid-template-columns: 240px;
			grid-row-gap: 48px; } }

.banner-numbers {
	text-align: center; }

.banner-numbers__title {
	font-size: 44px;
	font-weight: 700;
	color: #31869B; }

.banner-numbers__text {
	font-size: 18px;
	font-weight: 700; }

.blockquote-block {
	font-family: "Times New Roman", serif; }

.blockquote-block__wrap {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto; }

.blockquote-block__title {
	font-family: "Times New Roman", serif;
	font-size: 36px;
	font-style: italic; }

.blockquote-block__text {
	font-size: 23px;
	line-height: 1.6;
	font-style: italic; }

.icons-block .title {
	text-align: center; }

.icons-block__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px; }
	@media (max-width: 768px) {
		.icons-block__wrap {
			grid-template-columns: repeat(2, 1fr); } }
	@media (max-width: 375px) {
		.icons-block__wrap {
			grid-template-columns: 1fr; } }

.banner-icons {
	text-align: center;
	padding: 16px; }
	.banner-icons > * {
		margin-bottom: 16px; }
		.banner-icons > *:last-child {
			margin-bottom: 0; }

.banner-icons__image {
	height: 66px; }
	.banner-icons__image img {
		max-height: 100%; }

.banner-icons__title {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.3; }

.banner-icons__text {
	font-size: 13px;
	line-height: 1.5;
	color: #616161; }

.gifts-block {
	background-color: #E6D0B0; }

.gifts-block__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px; }
	@media (max-width: 768px) {
		.gifts-block__wrap {
			grid-template-columns: repeat(2, 1fr); } }
	@media (max-width: 375px) {
		.gifts-block__wrap {
			grid-template-columns: 1fr; } }

.banner-gift {
	padding: 16px;
	padding-right: 40%;
	position: relative;
	background-color: #fff; }

.banner-gift__image {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40%;
	padding: 16px;
	padding-left: 4px;
	display: flex; }
	.banner-gift__image img {
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain; }

.banner-gift__title {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 8px; }

.banner-gift__text {
	font-size: 12px;
	line-height: 1.3;
	color: #616161; }

.contacts-block__wrap {
	max-width: 700px;
	margin: 0 auto;
	text-align: center; }
	.contacts-block__wrap > * {
		margin-bottom: 36px; }

.contacts-block_subtitle {
	line-height: 1.3;
	text-transform: uppercase;
	max-width: 600px;
	margin: 0 auto 16px; }

.contacts-block_text {
	font-weight: 700;
	line-height: 1.3;
	color: #458A9D;
	margin-bottom: 32px;
	font-size: 21px; }

.slider {
	background-color: #80A9DD;
	height: 400px;
	overflow: hidden; }

.slider__item {
	display: flex;
	height: 400px;
	min-width: 0; }

.slider__content {
	flex: 0 0 100%; }

.slider__image {
	flex: 0 0 calc((100vw - 20px) - (1030px * 0.31) - (100vw - 20px - 1030px) / 2);
	transform: translate(-100%, 0);
	position: relative; }
	@media (max-width: 1030px) {
		.slider__image {
			flex-basis: 60%; } }
	@media (max-width: 425px) {
		.slider__image {
			flex-basis: 100%; } }
	.slider__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover; }

.slider__container {
	height: 100%; }
	@media (max-width: 1030px) {
		.slider__container {
			width: 100%; } }
	@media (max-width: 425px) {
		.slider__container {
			padding: 0; } }

.slider__body {
	width: 31%;
	display: flex;
	flex-direction: column;
	height: 100%;
	color: #fff;
	padding-right: 32px;
	align-items: flex-start;
	padding-top: 61px; }
	@media (max-width: 1280px) {
		.slider__body {
			padding-left: 32px; } }
	@media (max-width: 425px) {
		.slider__body {
			justify-content: center;
			width: 100%;
			position: relative;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.5);
			align-items: center;
			padding-right: 32px;
			padding-left: 32px; } }

.slider__title {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-bottom: 16px; }
	@media (max-width: 768px) {
		.slider__title {
			font-size: 24px; } }
	@media (max-width: 425px) {
		.slider__title {
			text-align: center;
			font-size: 36px; } }

.slider__text {
	font-size: 19px;
	line-height: 1.5;
	margin-bottom: 37px; }
	@media (max-width: 768px) {
		.slider__text {
			font-size: 16px; } }
	@media (max-width: 425px) {
		.slider__text {
			text-align: center;
			font-size: 18px; } }

.slider__button {
	font-size: 15px;
	background-color: #FFCC66;
	color: #333;
	padding: 12px 28px; }

.slick-track {
	display: flex; }

.slick-list {
	overflow: hidden; }

.slider-nav {
	padding-top: 15px; }
	.slider-nav .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center; }
		.slider-nav .slick-dots li {
			margin-right: 7.5px;
			font-size: 0; }
			.slider-nav .slick-dots li button {
				font-size: 0;
				width: 10.5px;
				height: 10.5px;
				border-radius: 50%;
				background-color: #9E9E9E; }
			.slider-nav .slick-dots li:last-child {
				margin-right: 0; }
		.slider-nav .slick-dots .slick-active button {
			background-color: #E6D0B0; }

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); }
	.popup__body {
		height: 100%;
		padding: 32px;
		display: flex;
		justify-content: center;
		align-items: flex-start; }
		@media (max-width: 425px) {
			.popup__body {
				padding: 16px; } }
	.popup__content {
		background-color: #fff;
		padding: 24px 32px 48px;
		position: relative;
		width: 800px;
		max-height: 100%;
		overflow: auto; }
		@media (max-width: 1024px) {
			.popup__content {
				border-radius: 8px; } }
		@media (max-width: 425px) {
			.popup__content {
				width: 100%;
				padding: 16px 8px 24px; } }
	.popup__close {
		position: absolute;
		top: 24px;
		right: 34px;
		line-height: 1;
		font-size: 24px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #9E9E9E;
		transform: translate(12px, -16px); }
		@media (max-width: 425px) {
			.popup__close {
				transform: translate(34px, -16px); } }
	.popup__title {
		padding: 0 48px 0 0; }
		@media (max-width: 425px) {
			.popup__title {
				padding: 0 24px 0 0; } }

.catalog-items__wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px; }
	@media (max-width: 425px) {
		.catalog-items__wrap {
			grid-template-columns: 1fr; } }

.catalog-item {
	display: flex;
	border: 1px solid #e0e0e0;
	position: relative; }

.catalog-item__image {
	flex: 0 0 125px;
	margin-right: 8px; }

.catalog-item__info {
	padding: 16px; }

.catalog-item__title {
	font-weight: 700;
	margin-bottom: 8px;
	position: relative;
	text-transform: uppercase;
	line-height: 1.2; }
	.catalog-item__title:before {
		content: "";
		display: block;
		position: absolute;
		left: -24px;
		top: 5px;
		width: 16px;
		height: 4px;
		background-color: #31869B; }

.catalog-item__text {
	font-size: 13px;
	line-height: 1.3;
	color: #616161; }

.catalog-item__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

.path_common {
	margin-bottom: 8px; }

.path__item {
	display: inline-flex;
	align-items: center; }

.path__link {
	font-size: 13px;
	line-height: 1;
	color: #616161; }

.path__arrow {
	border: 4px solid transparent;
	border-left-color: #616161;
	font-size: 0;
	margin: 0 4px; }

@media (max-width: 768px) {
	.side-menu {
		display: none; } }

.side-menu__item {
	padding: 9px;
	padding-left: 16px;
	position: relative; }
	.side-menu__item:before {
		content: "";
		position: absolute;
		top: 11px;
		left: 0px;
		border: 5px solid transparent;
		border-left-color: #31869B; }

.side-menu__item_level_1 {
	border-top: 1px solid #9E9E9E; }
	.side-menu__item_level_1:first-child {
		border: none; }
	.side-menu__item_level_1:last-child {
		border-bottom: 1px solid #9E9E9E; }

.side-menu__link_active {
	font-weight: 700;
	color: #000; }

.side-menu__item_level_2 {
	margin-left: 16px;
	font-size: 15px; }
	.side-menu__item_level_2:before {
		border-left-color: #9E9E9E;
		border-width: 4px;
		top: 12px; }

.side-menu__item_level_3 {
	margin-left: 32px;
	font-size: 13px; }
	.side-menu__item_level_3:before {
		border-left-color: #9E9E9E;
		border-width: 4px;
		top: 9px; }

.devices_section {
	margin-bottom: 24px; }

.devices__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px; }
	@media (max-width: 1024px) {
		.devices__wrap {
			grid-template-columns: repeat(3, 1fr); } }
	@media (max-width: 425px) {
		.devices__wrap {
			grid-template-columns: repeat(2, 1fr); } }
	@media (max-width: 375px) {
		.devices__wrap {
			grid-template-columns: 1fr; } }

.devices__wrap_rows {
	grid-template-columns: 1fr; }

.labels {
	font-size: 0; }

.labels_section {
	margin-bottom: 24px; }

.label {
	font-size: 13px;
	display: inline-block;
	padding: 6px 15px;
	color: #31869B;
	background-color: #fff;
	border: 1px solid #31869B; }

.labels__item {
	margin-bottom: 4px;
	margin-right: 4px; }
	.labels__item:last-child {
		margin-right: 0; }

.labels__item_active {
	color: #fff;
	background-color: #31869B; }

.filter_section {
	margin-bottom: 24px; }

.filter__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
	margin: 16px 0; }
	@media (max-width: 425px) {
		.filter__wrap {
			grid-template-columns: repeat(2, 1fr); } }

.filter__item {
	padding: 4px;
	padding-top: 0;
	background-color: #F2F2F2; }

.filter__title {
	font-size: 12px;
	font-weight: 700;
	padding: 10px 0;
	line-height: 1; }

.filter__values {
	background-color: #fff;
	padding: 8px;
	overflow: hidden;
	overflow-y: auto;
	height: 120px; }

.filter__value {
	font-size: 12px;
	margin-bottom: 8px; }
	.filter__value:last-child {
		margin-bottom: 0; }
	.filter__value label {
		display: flex; }

.filter__actions {
	grid-column: 1/-1; }
	.filter__actions button {
		margin-right: 4px; }
		.filter__actions button:last-child {
			margin-right: 0; }
	@media (max-width: 425px) {
		.filter__actions {
			display: flex; }
			.filter__actions button {
				flex: 1 0 50%; } }

.filter__button {
	padding-left: 12px; }

.pagination {
	display: flex;
	align-items: baseline; }

.pagination__label {
	margin-right: 16px; }

.pagination__wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -8px; }

.pagination__item {
	font-size: 14px;
	padding: 4px;
	margin: 0 0 8px 0;
	min-width: 24px;
	text-align: center; }
	.pagination__item:last-child {
		margin-right: 0; }

.pagination__item_active {
	color: #fff;
	background-color: #31869B;
	margin-right: 4px; }

.view {
	font-size: 14px; }

.view_section {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	border-bottom: 2px solid #616161;
	padding-bottom: 8px; }
	@media (max-width: 425px) {
		.view_section {
			display: block; }
		.view__column {
		    margin: 0 0 5px !important;
			display: none;
		}
		div.view__column ~ .view__column{
			display: block;
		}
		.view__column:last-child {
		    display: none!important;
		}
		.view__column select {
    		width: 100%;
		} }

.view__column {
	margin-right: 24px; }
	.view__column:last-child {
		margin-left: auto;
		margin-right: 0; }

.price__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end; }

.device-basic {
	display: flex;
	margin-bottom: 32px; }
	@media (max-width: 425px) {
		.device-basic {
			flex-direction: column; } }

.gallery {
	overflow: hidden; }
	@media (max-width: 425px) {
		.gallery {
			margin-bottom: 32px; } }

.device-basic__column:first-child {
	flex: 0 0 40%;
	margin-right: 24px;
	position: relative; }
	.device-basic__column:first-child .tags {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1; }
	@media (max-width: 425px) {
		.device-basic__column:first-child {
			flex-basis: 100%;
			margin-right: 0; } }

.device-basic__column:last-child {
	flex: 1 1 auto; }

.price_product {
	font-size: 24px;
	display: flex;
	margin-bottom: 16px; }
	.price_product .price__item {
		margin-right: 16px; }
		.price_product .price__item:last-child {
			margin-right: 0; }
	.price_product .price__item_old .price__value {
		font-weight: 400; }
	.price_product .price__label {
		font-size: 12px;
		color: #9E9E9E;
		margin-bottom: 4px; }
	.price_product .price__value {
		font-size: 24px;
		font-weight: 700; }

.order_product {
	margin-right: 16px; }

.add_product {
	display: flex;
	flex-direction: column; }
	.add_product .add__item {
		margin-bottom: 4px; }
		.add_product .add__item:last-child {
			margin-bottom: 0; }

.product-actions {
	display: flex;
	margin-bottom: 32px; }

.product-lables {
	display: flex;
	margin-bottom: 24px; }

.product-lables__label {
	margin-right: 8px; }
	.product-lables__label img {
		max-width: unset;
		max-height: unset; }

.product-lables__text {
	font-size: 12px;
	width: 150px; }

.product-icons {
	display: flex;
	justify-content: space-between; }

.product-icons__item {
	color: #616161;
	font-size: 16px; }

.tabs_product {
	margin-bottom: 24px; }

.tabs__nav {
	display: flex;
	border-bottom: 1px solid #9E9E9E;
	margin-bottom: 16px;
	flex-wrap: wrap;
	 }
.tab_active {
	background-color: #fff;
	border: 1px solid #9E9E9E;
	border-bottom-color: #fff;
	color: #616161; }
	
@media (max-width: 425px) {
	.tabs__nav {
		padding-bottom: 10px;
	}
	.tab_active{border-bottom-color: #9E9E9E;}
}

.tab {
	display: flex;
	padding: 8px 16px;
	margin-bottom: -1px; }



.tab-container p {
	line-height: 1.3; }

hr {
	border-bottom: 1px solid #616161;
	margin-bottom: 24px; }

.extra-info {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px; }
	@media (max-width: 425px) {
		.extra-info {
			grid-template-columns: 1fr; } }

.extra-info__title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 20px; }
	.extra-info__title span {
		margin-left: 4px; }

.extra-info__list {
	padding-left: 16px; }

.extra-info__list-item {
	font-size: 13px;
	margin-bottom: 16px;
	position: relative;
	line-height: 1.3; }
	.extra-info__list-item:last-child {
		margin-bottom: 0; }
	.extra-info__list-item:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: #31869B;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: -16px; }

table.params {
	display: block; }
	table.params tr {
		display: flex;
		position: relative;
		border: none; }
		table.params tr:before {
			content: "";
			display: block;
			width: 6px;
			height: 6px;
			background-color: #31869B;
			border-radius: 50%;
			position: absolute;
			top: 8px;
			left: 0; }
		table.params tr td {
			padding: 4px 8px; }
			table.params tr td:first-child {
				color: #9E9E9E;
				padding-left: 16px;
				padding-right: 4px; }
				table.params tr td:first-child:after {
					content: ":"; }
			table.params tr td:last-child {
				font-weight: normal; }

table.full-params th {
	text-align-last: left;
	padding-top: 16px;
	padding-bottom: 8px; }

.device__info table.params tr:before {
	display: none; }

.device__info table.params td:first-child {
	padding-left: 0; }

.cart-list__item {
	margin-bottom: 24px; }

.cart-item {
	display: grid;
	grid-template-areas: "im in pr qt sm dl"
 "ex ex ex ex ex ex";
	grid-template-columns: 100px 1fr 100px 100px 100px 20px;
	font-size: 13px;
	border: 1px solid #e0e0e0;
	position: relative; }
	.cart-item > * {
		padding: 8px; }
	.cart-item .text-label {
		display: block;
		margin-bottom: 4px; }
	@media (max-width: 425px) {
		.cart-item {
			grid-template-areas: "im in in"
 "pr qt sm"
 "ex ex ex";
			grid-template-columns: 100px 1fr 1fr; } }

.cart-item__image {
	grid-area: im;
	padding: 0; }

.cart-item__info {
	grid-area: in; }
	@media (max-width: 425px) {
		.cart-item__info {
			padding-right: 24px; } }

.cart-item__name {
	margin-bottom: 8px;
	display: inline-block; }

.cart-item__artnumber {
	display: inline-block;
	font-size: 12px;
	color: #616161; }

.cart-item__price {
	grid-area: pr; }

.cart-item__quantity {
	grid-area: qt; }

.cart-item__sum {
	grid-area: sm; }

.cart-item__delete {
	grid-area: dl;
	padding: 4px 0; }
	.cart-item__delete a {
		color: #9E9E9E;
		font-weight: 700;
		font-size: 24px; }
	@media (max-width: 425px) {
		.cart-item__delete {
			grid-area: unset;
			position: absolute;
			top: 0;
			right: 6px; } }

.text-label {
	font-size: 11px;
	color: #616161; }

.extra-values {
	grid-area: ex;
	background-color: #e0e0e0; }

.extra-values__row {
	display: grid;
	grid-template-columns: 92px 1fr;
	align-items: center;
	margin-bottom: 8px; }
	.extra-values__row:last-child {
		margin-bottom: 0; }
	@media (max-width: 425px) {
		.extra-values__row {
			align-items: start; } }

.extra-values__value input {
	width: 100%;
	border: 1px solid #616161;
	height: 24px; }

.extra-values__parameter {
	padding-left: 8px; }

.cart-total {
	display: flex;
	align-items: center; }
	@media (max-width: 425px) {
		.cart-total {
			flex-wrap: wrap; } }

.cart-total__text {
	font-size: 24px;
	margin-right: 16px; }
	@media (max-width: 425px) {
		.cart-total__text {
			margin: 0 0 8px; } }

.cart-total__buttons {
	font-size: 0; }
	@media (max-width: 425px) {
		.cart-total__buttons {
			display: flex;
			width: 100%; } }

.cart-total__button {
	margin-right: 4px;
	font-size: 16px; }
	.cart-total__button:last-child {
		margin-right: 0; }
	@media (max-width: 425px) {
		.cart-total__button {
			flex: 1 1 auto;
			margin-right: 4px; }
			.cart-total__button:last-child {
				margin: 0; } }

.cart-confirm__text {
	font-size: 13px; }
	.cart-confirm__text p {
		margin-bottom: 8px; }

.wrapper {
	transition: transform 300ms ease-out; }
	.wrapper.visible-no {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: translate(-80%, 0); }

.menu-container {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	transition: transform 300ms ease-out; }
	.menu-container.visible-yes {
		visibility: visible;
		opacity: 1; }
		.menu-container.visible-yes .menu-content {
			transition: transform 300ms ease-out;
			transform: translate(-80%, 0); }
	.menu-container .menu-content {
		width: 100%;
		height: 100%;
		margin-left: 100%;
		background-color: #fff;
		font-size: 16px;
		overflow-y: scroll;
		padding-right: 20%; }
	.menu-container .menu-overlay {
		position: absolute;
		top: 0;
		right: 80%;
		left: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); }
	.menu-container ul {
		padding: 16px;
		list-style: none;
		border-bottom: 1px solid #e0e0e0;
		display: block; }
		.menu-container ul li {
			margin-bottom: 16px; }
			.menu-container ul li:last-child {
				margin-bottom: 0; }

.nav-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff; }
	.nav-container .content {
		height: 100%;
		overflow-y: scroll;
		padding: unset; }
	.nav-container .small-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e0e0e0; }
		.nav-container .small-nav > * {
			padding: 16px 8px; }
		.nav-container .small-nav .header {
			flex: 1;
			text-align: center;
			font-weight: 700;
			background-color: #fff; }
	.nav-container li {
		padding: 8px;
		border-bottom: 1px solid #e0e0e0;
		display: flex; }
		.nav-container li a {
			flex: 1; }
	.nav-container .next {
		position: absolute;
		left: 100%;
		top: 0;
		background-color: #fff;
		width: 100%; }
	.nav-container .close {
		font-size: 24px;
		font-weight: 700;
		color: gray;
		padding: 16px; }

.location-list {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	top: 30px; }
	.location-list li {
		padding: 5px; }
	.location-list a {
		font-size: 14px;
		color: #0072bc; }
	.location-list:before {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		top: -12px;
		left: 10px; }

.compared-container {
	width: 100%;
	overflow-x: auto; }

.compared {
	min-width: unset; }
	.compared tr {
		border: none; }
	.compared td, .compared th {
		width: 200px;
		padding: 0;
		padding-right: 15px; }
		.compared td:last-child, .compared th:last-child {
			padding-right: 0;
			font-weight: unset; }
	.compared th {
		font-weight: unset;
		padding-bottom: 15px; }
	.compared .device {
		width: 200px; }
		.compared .device__name {
			height: 56px;
			overflow: hidden; }
	.compared .compared__section {
		font-weight: 700 !important;
		font-size: 15px;
		padding-top: 15px; }
	.compared .compared__name {
		font-size: 13px;
		color: #9e9e9e;
		padding-bottom: 0;
		padding-top: 10px; }
	.compared .compared__value {
		font-size: 13px;
		color: #333;
		padding-top: 0; }
/* VL */
#search-result, #search-result-mobile {
	position: absolute;
	padding: 16px;
	box-shadow: #4c4849 0px 4px 15px;
	top: 45px;
	z-index: 1;
	background: white;
	display: none;
	width: 100%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 3;
}

div#search-result-mobile {
	top: 55px;
}
#search-result ul, #search-result-mobile ul{
	padding-left: 0;
}
#search-result li, #search-result-mobile li{
	list-style-type: none;
	margin-bottom: 8px;
}
#search-result li a, #search-result-mobile li a{
	color: #363636;
	text-decoration: underline;

}
.device:hover .fast-preview-button,
.device_row:hover .fast-preview-button {
	display: block;
}
.fast-preview-button {
	display: none;
	position: absolute;
	top: 75px;
	left: 50%;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
	padding: 8px 16px;
	border-radius: 4px;
	transform: translate(-50%, 0);
	font-size: 12px;
	z-index: 2;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid #a7323b;
	color:#a7323b;
	opacity: .85;
}
@media (max-width: 768px) {
		.fast-preview-button {
			display: block;
			position: absolute;
			top: 60%;
		}
	}
.fast-preview-button:hover {
	opacity: 1;
	text-decoration: none;
}
.device_row .fast-preview-button {
	left: 0;
	top: 24px;
	margin: 0;
	transform: unset;
	white-space: normal;
	width: 100px;
	text-align: center;
}
.mitaba .popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 4;
}
.mitaba .popup__body {
	height: 100%;
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
@media (max-width: 425px) {
	.mitaba .popup__body {
		padding: 16px;
	}
}
.mitaba .popup__content {
	background-color: #fff;
	padding: 24px 32px 48px;
	position: relative;
	width: 800px;
	max-height: 100%;
	overflow: auto;
}
@media (max-width: 1024px) {
	.mitaba .popup__content {
		border-radius: 8px;
	}
}
@media (max-width: 425px) {
	.mitaba .popup__content {
		width: 100%;
		padding: 16px 8px 24px;
	}
}
.mitaba .popup__close {
	position: absolute;
	top: 24px;
	right: 34px;
	line-height: 1;
	font-size: 24px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #bdbdbd;
	transform: translate(12px, -16px);
}
@media (max-width: 425px) {
	.mitaba .popup__close {
		transform: translate(34px, -16px);
	}
}
.mitaba .popup__title {
	padding: 0 48px 0 0;
}
@media (max-width: 425px) {
	.mitaba .popup__title {
		padding: 0 24px 0 0;
	}
}
.mitaba .device-preview {
	display: flex;
}
@media (max-width: 425px) {
	.mitaba .device-preview {
		flex-direction: column;
	}
}
.mitaba .device-preview__column {
	flex: 0 0 40%;
	margin: 0 32px 0 0;
}
@media (max-width: 425px) {
	.mitaba .device-preview__column {
		margin: 0 0 32px 0;
	}
}
.mitaba .device-preview__column:last-child {
	flex: 1 1 auto;
	margin: 0;
}
/*.mitaba .fotorama {
	min-height: 400px;
	background-color: #eee;
}*/
@media (max-width: 425px) {
	.mitaba .fotorama {
		min-height: 200px;
	}
}
.mitaba .device-actions {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 32px 0;
}
.mitaba .device-actions__price {
	flex: 1 1 auto;
	display: flex;
	align-items: baseline;
	margin: 0 0 16px;
}
.mitaba .device-actions__price > div {
	margin: 0 8px 0 0;
}
.mitaba .device-actions__price > div:last-child {
	margin: 0;
}
.mitaba .device-actions__icons {
	flex: 0 0 auto;
}
.mitaba .device-actions__buttons {
	flex: 1 1 100%;
}
.mitaba .price__new {
	font-size: 24px;
	font-weight: 700;
}
.mitaba .price__old {
	font-size: 16px;
	color: #616161;
	text-decoration: line-through;
}
.mitaba .add > a {
	margin-right: 8px;
}
.mitaba .add > a:last-child {
	margin: 0;
}
.mitaba .add > a.active svg {
	stroke: #a7323b;
}
.mitaba .add svg {
	stroke: #bdbdbd;
}
.mitaba .tabs__links {
	display: flex;
	margin-bottom: 24px;
	align-items: baseline;
}
.mitaba .tabs__link {
	font-size: 14px;
	color: #0072bc;
	padding: 4px 8px;
	margin-right: 8px;
	text-decoration: none;
}
.mitaba .tabs__link:last-child {
	margin: 0;
}
.mitaba .tabs__link_active {
	font-size: 16px;
	font-weight: 700;
	color: #333;
	border-bottom: 2px solid #a7323b;
}
.mitaba .gift-list__item {
	display: flex;
	border-bottom: 1px solid #f2f2f2;
	padding: 8px 0;
}
.mitaba .gift-list__item:last-child {
	border-bottom: none;
}
@media (max-width: 425px) {
	.mitaba .gift-list__item {
		flex-wrap: wrap;
		padding: 16px 0;
	}
}
.mitaba .gift-list__item_selected .gift__image {
	border: 2px solid #a7323b;
}
.mitaba .gift-list__item_selected .gift__status {
	font-weight: 700;
	line-height: 1.3;
	color: #a7323b;
}
.mitaba .gift-list__item > * {
	margin: 0 16px 0 0;
}
.mitaba .gift__image {
	flex: 0 0 100px;
}
.mitaba .gift__image img {
	display: block;
	background-color: #fff;
	width: 100px;
	height: 100px;
	object-fit: contain;
}
.mitaba .gift__name {
	flex: 1 1 auto;
	line-height: 1.3;
}
@media (max-width: 425px) {
	.mitaba .gift__name {
		font-size: 14px;
		line-height: 1.2;
		flex: 0 0 calc(100% - 120px);
		margin: 0;
	}
}
.mitaba .gift__sum {
	font-weight: 700;
	margin: 0 0 8px 0;
}
.mitaba .gift__status {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;
	margin: 0;
}
@media (max-width: 425px) {
	.mitaba .gift__status {
		flex: 1 1 100%;
		margin: 16px 0 0 0;
	}
}
.mitaba .gift__button {
	align-self: flex-start;
}
.mitaba .small-text {
	font-size: 12px;
	line-height: 1.3;
	color: #616161;
}
#product-ajax-popup .page-content{
	font-size: 14px;
	line-height: 1.32;
}
.mitaba .button_primary {
	background-color: #a7323b;
	color: #ffffff;
	border: 1px solid #a7323b;
}
.mitaba .button_primary:hover {
	background-color: #363636;
}
.mitaba .button_secondary {
	background-color: #fff;
	color: #a7323b;
	border: 1px solid #a7323b;
}
.mitaba .button_secondary:hover {
	background-color: #a7323b;
	color: #fff;
	border: 1px solid #a7323b;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
a {cursor: pointer;}
.button {
    height: auto;
}
.fade {
	opacity:0;
	-webkit-transition:opacity 0.15s linear;
	-o-transition:opacity 0.15s linear;
	transition:opacity 0.15s linear;
}
.fade.in {
	opacity:1;
}
.close {
	float:right;
	font-size:21px;
	font-weight:bold;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.close:hover,.close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
button.close {
	padding:0;
	cursor:pointer;
	background:transparent;
	border:0;
	-webkit-appearance:none;
}
.modal-open {
	overflow:hidden;
}
.modal {
	display:none;
	overflow:hidden;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	-webkit-overflow-scrolling:touch;
	outline:0;
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	-o-transform:translate(0,-25%);
	transform:translate(0,-25%);
	-webkit-transition:-webkit-transform 0.3s ease-out;
	-moz-transition:-moz-transform 0.3s ease-out;
	-o-transition:-o-transform 0.3s ease-out;
	transition:transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto;
}
.modal-dialog {
	position:relative;
	width:auto;
	margin:10px;
}
.modal-content {
	position:relative;
	background-color:#fff;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:6px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
	box-shadow:0 3px 9px rgba(0,0,0,0.5);
	background-clip:padding-box;
	outline:0;
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000;
}
.modal-backdrop.fade {
	opacity:0;
	filter:alpha(opacity=0);
}
.modal-backdrop.in {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.modal-header {
	padding:15px;
	border-bottom:1px solid #e5e5e5;
}
.modal-header:before,.modal-header:after {
	content:" ";
	display:table;
}
.modal-header:after {
	clear:both;
}
.modal-header .close {
	margin-top:-2px;
}
.modal-title {
	margin:0;
	line-height:1.428571429;
}
.modal-body {
	position:relative;
	padding:15px;
}
.modal-footer {
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5;
}
.modal-footer:before,.modal-footer:after {
	content:" ";
	display:table;
}
.modal-footer:after {
	clear:both;
}
.modal-footer .btn+.btn {
	margin-left:5px;
	margin-bottom:0;
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px;
}
.modal-footer .btn-block+.btn-block {
	margin-left:0;
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll;
}
@media (min-width:768px) {
	.modal-dialog {
		width:600px;
		margin:30px auto;
	}
	.modal-content {
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);
		box-shadow:0 5px 15px rgba(0,0,0,0.5);
	}
	.modal-sm {
		width:300px;
	}
}
@media (min-width:992px) {
	.modal-lg {
		width:900px;
	}
}
.form-control {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#555555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
	-o-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
	transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.form-control:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
	color:#999;
	opacity:1;
}
.form-control:-ms-input-placeholder {
	color:#999;
}
.form-control::-webkit-input-placeholder {
	color:#999;
}
.form-control::-ms-expand {
	border:0;
	background-color:transparent;
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
	background-color:#eeeeee;
	opacity:1;
}
.form-control[disabled],fieldset[disabled] .form-control {
	cursor:not-allowed;
}
textarea.form-control {
	height:auto;
}
input[type="search"] {
	-webkit-appearance:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type="date"].form-control,input[type="time"].form-control,input[type="datetime-local"].form-control,input[type="month"].form-control {
		line-height:34px;
	}
	input[type="date"].input-sm,.input-group-sm>input[type="date"].form-control,.input-group-sm>input[type="date"].input-group-addon,.input-group-sm>.input-group-btn>input[type="date"].btn,.input-group-sm input[type="date"],input[type="time"].input-sm,.input-group-sm>input[type="time"].form-control,.input-group-sm>input[type="time"].input-group-addon,.input-group-sm>.input-group-btn>input[type="time"].btn,.input-group-sm input[type="time"],input[type="datetime-local"].input-sm,.input-group-sm>input[type="datetime-local"].form-control,.input-group-sm>input[type="datetime-local"].input-group-addon,.input-group-sm>.input-group-btn>input[type="datetime-local"].btn,.input-group-sm input[type="datetime-local"],input[type="month"].input-sm,.input-group-sm>input[type="month"].form-control,.input-group-sm>input[type="month"].input-group-addon,.input-group-sm>.input-group-btn>input[type="month"].btn,.input-group-sm input[type="month"] {
		line-height:30px;
	}
	input[type="date"].input-lg,.input-group-lg>input[type="date"].form-control,.input-group-lg>input[type="date"].input-group-addon,.input-group-lg>.input-group-btn>input[type="date"].btn,.input-group-lg input[type="date"],input[type="time"].input-lg,.input-group-lg>input[type="time"].form-control,.input-group-lg>input[type="time"].input-group-addon,.input-group-lg>.input-group-btn>input[type="time"].btn,.input-group-lg input[type="time"],input[type="datetime-local"].input-lg,.input-group-lg>input[type="datetime-local"].form-control,.input-group-lg>input[type="datetime-local"].input-group-addon,.input-group-lg>.input-group-btn>input[type="datetime-local"].btn,.input-group-lg input[type="datetime-local"],input[type="month"].input-lg,.input-group-lg>input[type="month"].form-control,.input-group-lg>input[type="month"].input-group-addon,.input-group-lg>.input-group-btn>input[type="month"].btn,.input-group-lg input[type="month"] {
		line-height:46px;
	}
}
.form-group {
    margin-bottom: 15px;
}

.extra-buttons .button{
	font-size: 16px;
	padding: 10px 11px;
}
.desktop .header-container .other-container {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    position: relative; }
	ul.currency-options {
	    list-style: none;
	    padding-left: 0;
	    font-size: 13px;
	    display: grid;
	    grid-template-columns: auto auto;
	    grid-gap: 6px;
	    justify-content: start;
	    margin-top: 4px;
}
#search-result, #search-result-mobile {
	position: absolute;
	padding: 5px;
	min-height: 35px;
	box-shadow: #4c4849 0px 4px 15px;
	top: 45px;
	z-index: 1;
	background: white;
	display: none;
	width: 100%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 3;
}

div#search-result-mobile {
	top: 55px;
}
#search-result ul, #search-result-mobile ul{
	padding-left: 0;
}
#search-result li, #search-result-mobile li{
	list-style-type: none;
	margin-bottom: 8px;
}
#search-result li a, #search-result-mobile li a{
	color: #363636;
	text-decoration: underline;

}
.cart-container {
  margin-top: 1rem; 
}
.cart-container .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
}
.cart-container .item .image-container {
      flex-basis: 12%; 
}
.cart-container .item .image-container img {
        max-width: 100%; 
}
.cart-container .item .price span,
.cart-container .item .quantity span {
      display: block;
      font-size: 0.8rem; 
}
.cart-container .item .quantity input[type="number"] {
      width: 6rem;
      text-align: center; 
}
.cart-container .item .delete {
      color: #ccc;
      width: 1rem;
      padding-left: 1rem; 
}
.cart-container .item .price_all {
      width: 7rem; 
}
.cart-container .item .price.one {
      width: 4rem; 
}
.cart-container .item .title {
      flex: 1; 
      font-size: 14px;
      font-weight: normal;
}
.cart-container .item > * {
      margin-left: 0.5rem; 
}
.cart-container .total {
    display: flex;
    margin-top: 3rem; 
}
.cart-container .total > * {
      margin-right: .5rem; 
}
.cart-container .total p {
      font-size: 1.6em;
      margin-right: 1rem; 
}
/* END VL */
/*# sourceMappingURL=styles.css.map */
.region-link.active{
	color:  #000;
}

.vl_gallery {
	text-align: center;
	background:#f5f5f5;
	padding: 30px 0;
}
.vl_gallery a.gal {
	padding: 5px;
	display: inline-block;
}
.color1 {color:#1d5744}
.color2 {color:#ed822f}

.vl_approach {padding: 50px 0; }
.vl_approach .approach_wrap { font-size: 0; line-height: 0; letter-spacing: -1px; }
.vl_approach .approach_item { line-height: normal; letter-spacing: normal; display: inline-block; vertical-align: top; margin: 0 8% 50px 0; width: 46%; }
.vl_approach .approach_item:nth-child(2n) { margin-right: 0; }
.vl_approach .approach_item:nth-child(n+5) { margin-bottom: 0; }
.vl_approach .approach_item .item_icon { float: left; margin-right: 20px; }
.vl_approach .approach_item .item_info { display: table; text-align: left;}
.vl_approach .approach_item .item_info .info_head { font-size: 16px; line-height: 18px; line-height: 1.8rem; font-weight: 700; font-family: "Open Sans", sans-serif; color: #313131; margin-bottom: 10px; }
.vl_approach .approach_item .item_info .info_txt { font-size: 14px; line-height: 18px; line-height: 1.8rem; font-weight: 400; font-family: "Open Sans", sans-serif; color: #313131; }
@media (max-width: 768px) {
	.vl_approach .approach_item {
		width: 96%;
	}
	.vl_approach .approach_item:nth-child(2n) { margin: 0 8% 50px 0; }
	.vl_approach .approach_item:nth-child(n+5) { margin: 0 8% 50px 0; }
}
.vl_c_carousel {
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.vl_c_carousel::-webkit-scrollbar {
	height: 0;
}

.vl_c_prev,
.vl_c_next {
	display: flex;
	justify-content: center;
	align-content: center;
	background: #ffffff;
	border: solid 2px #ed822f;
	padding: 8px;
	border-radius: 50%;
	outline: 0;
	cursor: pointer;
	position: absolute;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 18%);
}

.vl_c_prev {
	top: 50%;
	left: 0;
	transform: translate(50%, -50%);
	display: none;
}

.vl_c_next {
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
/*
@media (max-width: 425px) {
  #vl_c_next {
      display: none;
  }
}
*/

.vl_c_content {
	display: grid;
	grid-gap: 16px;
	grid-auto-flow: column;
	margin: auto;
	box-sizing: border-box;
	padding:20px;
}

.vl_c_item {
	width: 250px;
	height: 400px;
	text-align: center;
	background: #f5f5f5;
	border: solid 2px #fff;
	padding: 10px;
	border-radius: 2rem;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 18%);
}
.vl_c_item:hover {
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 58%);
}
.vl_c_img{
	height: 150px;
	overflow: hidden;
	border-radius: 1rem;
	margin-bottom:1rem;
}
.vl_c_img img{
	transform: scale(1.2);
}
.vl_c_item p {
	margin-bottom:1rem;
	color: #363636;
}
.vl_pos_rel{position: relative;}
.vl_jc {justify-content: center;}
.vl_jc .order img {
	margin-right: 15px;
}
.vl_flex {
	display: flex;
	flex: 1 1 auto;
}
.inline_block{
	display: inline-block;
	margin-left: 1.4rem;
}