a[rel=tip] {
   text-decoration: none;
border: 1px solid
#fe6f61;
padding: .2rem .45rem;
border-radius: .4rem;
}

.yellow-bg {
    padding: .5rem .75rem;
    border-radius: .5rem;
    border: 1px solid #d09959;
    background: rgba(255, 255, 0, 0.2);
    margin: 1rem 0;
}