.overflow-hidden{
    overflow: hidden;
}
.catalog-items.lines .catalog-item .toggle-overflow{
    height: auto;
}
.catalog-items.lines .catalog-item .toggle-overflow.overflow-hidden{
    height: 83px; /*по высоте рисунка*/
}
/*как у ссылки. если можно, подчерикиваение точечками*/
.js-link{cursor: pointer; color: #2F80ED;  -moz-text-decoration-style: dotted; -webkit-text-decoration-style: dotted;}
.js-link:hover, js-link:focus{color: #23527c; text-decoration: underline;}
.inline-only{display: none;}
.catalog-items.lines .inline-only{
	display: block;
}
.catalog-items .catalog-item .image-container + div p{
	display: block;
	font-size: .9em;
	color: gray;
}
.catalog-item-container .price p:first-child, .catalog-item-container .price p span{
	display: inline;
}