.overflow-hidden{
    overflow: hidden;
}
.catalog-items.lines .catalog-item .toggle-overflow{
    height: auto;
}
.catalog-items.lines .catalog-item .toggle-overflow.overflow-hidden{
    height: 83px; /*по высоте рисунка*/
}
/*как у ссылки. если можно, подчерикиваение точечками*/
.js-link{cursor: pointer; color: #2F80ED;  -moz-text-decoration-style: dotted; -webkit-text-decoration-style: dotted;}
.js-link:hover, js-link:focus{color: #23527c; text-decoration: underline;}
.inline-only{display: none;}
.catalog-items.lines .inline-only{
	display: block;
}
.catalog-item .zoom-icon{
	font-size: 25px;
	position: absolute;
	z-index: 2;
	display: inline-block;
	left: 15px;
	top: 10px;
	color: #fff;
	text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
.catalog-item{
	position: relative;
}
.raiting-stars .star{
	font-size: 2rem;
	color: #ffcf40;
}
.raiting-stars .star::before{
	content: '★';
}