/*popup*/
	.ve-popup-overlay{
		position: fixed;
		background: rgba(0,0,0,0.5);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 10000;
	}
	.ve-popup{
		background: #fff;
		padding: 20px;
		width: 80%;
		height: 90%;
		margin: 30px auto;
		position: relative;
	}
	.ve-close-popup{
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		color: red;
		font-size: 30px;
		cursor: pointer;
		border-radius: 30px;
		width: 30px;
		height: 30px;
	}
	.ve-edit-menu{background: rgba(255,255,255,0.73);}
	.ve-edit-menu *{
		font-family: Arial !important;
		font-size: 12px !important;
		margin: 0 0 0 0;
		right:0;
		top:0;

	}
	.ve-edit-menu ul{padding: 0; padding-right: 10px; display: none;}
	.ve-edit-menu ul li{
		margin-left: 10px;

		list-style-type: none;
	}
	.ve-edit-menu ul span{
		display: inline-block;
		width: 12px;
		height: 12px;
		text-align: center;
		line-height: 12px;
		border: 1px solid #606060;
		cursor: pointer;
	}
	.ve-edit-menu ul li ul{margin-left: 13px; padding-right: 0; display: none;}
	.ve-edit-menu ul a{
		display: inline-block;
		padding: 5px 8px 5px 17px;
	}
	.ve-edit-menu ul li.ve-has-sub a{
		padding-left: 0;
	}