body {
  // background-color: gray;
}
.flex {
  display: flex;
}
.mobile.header {
  background-color: #fff;
  padding-top: 15px;
  font-size: 1.5em;

}
.icons-container {
  flex-basis: 100px;
  display: flex;
  justify-content: space-between;
}
.mobile.header .logo {
  display: block;
  flex: 2;
  span {
    margin-left: 5px;
  }
}
.mobile.header .search-container {
  padding: 15px 0;
  form {
    width: 100%;
    display: flex;
  }
  input {
    flex-grow: 1;
  }
}
.slider-container {
  height: 200px;
  background-color: #eee;
  display: flex;
  > div {
    margin: auto;
  }
}
.news-container {
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    flex-basis: 45%;
    font-size: .9em;
    margin-bottom: 1em;
  }
}
.banners {
  background-color: #eee;
}
.banners-container {
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  height: 10em;
  > div {
    flex-basis: 50%;
    background-color: #fff;
  }
}
.footer {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ccc;
  > div {
    flex-basis: 50%;
    margin-bottom: 1em;
  }
}
.actions {
  background-color: #fff;
}
.menu-container.mobile {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  transition: transform 300ms ease-out;

  .overlay {
    position: absolute;
    top: 0;
    right: 80%;
    left: 0;
    height: 100%;
    
  }
  .content {
    width: 100%;
    height: 100%;
    margin-left: 100%;
    transition: transform 300ms ease-out;
    border-left: 1px solid #e5e5e5;
    background: #fff;
    font-size: 16px;
    overflow-y: scroll;
    padding-right: 20%;
   
   }
}
.menu-container.mobile.visible-yes {
  visibility: visible;
  .content {
    transform: translate3d(-80%,0,0);
  }
}
.content-container.visible-no {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate3d(-80%,0,0);
}
.content-container {
  transition: transform 300ms ease-out;
}

.desktop .header-container {
  justify-content: flex-end;
  padding-top: 20px;
  > div {
    padding-right: 1em;
  }
  .logo {
    flex-basis: 25%;
  }
  .contacts,
  .cart,
  .user {
    flex-basis: 15%;
  }
  .search {
    flex-basis: 30%;
  }
}


@media (min-width:992px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media (max-width:767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}