.p-t {
  padding-top: 30px;
}
.p-t-small {
  padding-top: 20px;
}
.no-m-t {
  margin-top: 0;
}
.m-t {
  margin-top: 30px;
}
.m-t-small {
  margin-top: 15px;
}
.m-b {
  margin-bottom: 30px;
}
.select-time > div {
  > div {
    display: inline-block;
    vertical-align: top;
    span {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
.search {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  input + button {
    margin-left: 0;
  }
}
.data-table {
  min-width: 100%;
  &.main-table {
    th {
      background-color: $brand-color-2;
      color: white;
    }
  }
  tr {
    &:hover {
      td {
        border-bottom-color: $brand-color-1 !important;
        background-color: lighten($brand-color-1, 60%);
      }
    }
    &.checked {
      td {
        background-color: lighten($brand-color-2, 60%);
      }
    }
  }
  td,
  th {
    padding: 5px 7px;
    vertical-align: top;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
  }
  th {
    background-color: #e6e6e6;
  }
  .summary {
    td {
      font-weight: bold;
      border: 1px solid black;
      border-width: 2px 0;
    }
  }
  .accent {
    td {
    font-weight: bold;
    // background-color: #e6e6e6;
    border: 1px solid black;
    border-width: 0 0 1px;
    }
  }
}
input[type="text"] {
  padding: 6px 12px;
  font-size: 12px;
  // font-size: 14px;
  vertical-align: bottom;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  color: gray;
}
input[type="text"]:focus {
  color: black;
}
select {
    padding: 6px 12px;
    font-size: 12px;
    border: solid 1px #cccccc;
    border-radius: 4px;
}
.subtable-controls {
  margin-top: 10px;
}
.container {
  margin-bottom: 100px;
}
.parameters-container {
  padding: 20px 15px 30px;
  border: 1px solid #e6e6e6;
}
.parameters {
  display: table;
  margin-bottom: 20px;
  .parameter {
    display: table-row;
    > div {
      display: table-cell;
      padding-right: 10px;
      padding-bottom: 10px;
      white-space: nowrap;
    }
    .chosen-values {
      padding-left: 10px;
      white-space: normal;
    }
  }
}
.chosen-values {
  a {
    margin-right: 10px;
    &:hover {
      text-decoration: line-through;
      color: $brand-color-1;
    }
    &:after {
      content: "\00a0\00d7";
    }
  }
}
.print {
  display: none;
}
.chart {
  border: 1px solid #e6e6e6;
  min-height: 250px;
  padding: 20px 15px 30px;
}
.list {
  label {
    font-weight: normal;
  }
}
button + button,
select + button,
input + button,
select + select {
  margin-left: 10px;
}
@media print {
  .no-print {
    display: none;
  }
  .print {
    display: block;
  }
.chosen-values {
  a {
    &:after {
      content:";"
    }
  }
}
.parameters {
  display: block;
  .parameter {
    display: inline;
    > div:first-child {
      font-weight: bold;
    }
  }
}
.table-responsive {
  overflow-x: hidden;
}
}